:root {
  --main-dark-blue: #010131;
  --main-light-blue: #1b518a;
}

.header_invest_logo {
}

@media screen and (max-width: 768px) {
  .header_invest_logo {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .header_invest_logo {
    width: 200px;
  }
}

*{
  /* border: 1px solid red; */
  /* color: white; */
}

body{
  /* background-image: url("https://fonoteka.top/uploads/posts/2022-01/1642654535_55-phonoteka-org-p-fon-dlya-prezentatsii-finansi-56.jpg"); */
  background-image: url("../../1642654535_55-phonoteka-org-p-fon-dlya-prezentatsii-finansi-56\ 1\(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
}
